{% extends "base.html" %}
{% block body %}
{% for post in my_posts %}
    <div class="container">
        <p>Posted: {{ post.date }}</p>
        <p><a href="{{ url_for('perma_link', string = post.link) }}">Permanent Link</a></p>
            {{ post.html|safe }}
            <hr>
    </div>
{% endfor %}
<div id="controls">
    {% if page_id < 1 %}
        <a href="{{ url_for('page', page_id = page_id+1) }}">Next Page</a>
    {% elif next_page %}
        <a href="{{ url_for('page', page_id = page_id-1) }}">Previous Page</a> --- <a href="{{ url_for('page', page_id = page_id+1) }}">Next Page</a>
    {% else %}
        <a href="{{ url_for('page', page_id = page_id-1) }}">Previous Page</a>
    {% endif %}
</div>
{% endblock %}